<%
entity = t('activerecord.models.alumno')
title = entity.capitalize
create = t('createEntity', entity: entity)
document = t('activerecord.attributes.alumno.documento')
fullName = t('activerecord.attributes.alumno.nombreCompleto')
email = t('activerecord.attributes.alumno.email')
created_at =t('activerecord.attributes.alumno.created_at')
multipleMatch = t('activerecord.attributes.alumno.documento')+", "+ t('activerecord.attributes.alumno.nombreCompleto')+", "+t('activerecord.attributes.alumno.email')
from = t('from')
to = t('to')
active = t('activerecord.attributes.alumno.activo')
order = t('ordenar')
asc = t('asc')
desc = t('desc')
search = t('search')
%>
<header>
	<h1><%=title%></h1>
	<ul class="actions">
		<li><%= link_to create, new_alumno_path, class: "new" %></li>
	</ul>
</header>
<%= form_tag alumnos_path, method: :get, class: "form-inline" do %>
	<div class="row">
		<div class="form-group">		 
			<%= text_field_tag :query, params[:query], class:"form-control", placeholder: multipleMatch, size:85 %>		
		</div>	
		<div class="form-group">		
			<%= text_field_tag :from, params[:from],  class:"form-control", "data-provide" => "datepicker", "data-date-language"=> I18n.locale ,"placeholder" => from %>
			<%= text_field_tag :to, params[:to],  class:"form-control", "data-provide" => "datepicker", "data-date-language"=>I18n.locale, "placeholder" => to %>				
		</div>	
		<div class="checkbox">
			<%= label_tag "active", active %>		
			<%= hidden_field_tag :activo, "false" %>
			<%= check_box_tag :activo,true, true %>		
		</div>
		<%= params[:activo] %>
	</div>	
	<div class="row">
	<div class="form-group">	
		<%= label_tag params[:fieldOrder], order %>
		<%= select_tag(:fieldOrder, options_for_select([[document, 'documento'], [fullName, 'apellido'], [email, 'email'], [created_at, 'created_at']], :selected => params[:fieldOrder]), class: "form-control") %>
		<%= select_tag(:orderDirection, options_for_select([[asc, 'asc'], [desc, 'desc']], :selected => params[:orderDirection]), class: "form-control") %>
	
	</div>
	<%= submit_tag search, class: "search" %>		
	</div>
	

<% end %>
<br>
<div id="alumnos">
<% if @alumnos.total_count>0 %>
	<table class="table table-striped">
	  <thead>	
		<tr>
			<th><%= t('activerecord.attributes.alumno.documento')%></th>
			<th><%= t('activerecord.attributes.alumno.nombreCompleto')%></th>
			<th><%= t('activerecord.attributes.alumno.email')%></th>
			<th><%= t('activerecord.attributes.alumno.created_at')%></th>
			<th><%= t('activerecord.attributes.alumno.activo')%></th>		
			<th><%= t('show') %></th>		
		</tr>
	  </thead>
	  <tbody>
		<% @alumnos.each do |alumno| %>
			<tr>
		
				<td><%= alumno.documento %></td>
				<td><%= alumno.apellido+", "+alumno.nombre %></td>
				<td><%= alumno.email %></td>
				<td><%= time_tag alumno.created_at %></td>
				<td><%= t("#{alumno.activo}_value") %></td>
				<td><%= link_to content_tag(:i, nil, :class => "fa fa-eye", :title => "View"), alumno %></td>
			</tr>
		<% end %>
	  </tbody>
	</table>
	<%= paginate @alumnos %> <br>
	<%= t('found',matches: @alumnos.total_count, entity: t('activerecord.models.alumnos'))%>
	
<% else %>
	<%= t('notFound',entity: t('activerecord.models.alumnos')) %>
<% end %>
</div>
