<header>
	<h1><%= @alumno.apellido %>, <%= @alumno.nombre %> </h1>
	<ul class="actions">
		<li><%= link_to "Editar alumno", edit_alumno_path(@alumno), class: "edit" %></li>
		<li><%= link_to "Eliminar alumno", alumno_path(@alumno), method: :delete, data: {confirm: t('prevent-delete-alumno')}, class: "delete" %></li>
	</ul>
</header>

<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#datos" data-toggle="tab">Datos</a></li>
        <li><a href="#clases" data-toggle="tab">Clases</a></li>
        <li><a href="#pagos" data-toggle="tab">Pagos</a></li>
        
    </ul>
    <div id="my-tab-content" class="tab-content">
	
        <div class="tab-pane active" id="datos">
            <dl class="dl-horizontal">
				<dt><%= t('activerecord.attributes.alumno.nombreCompleto')%></dt><dd><%= @alumno.apellido+", "+@alumno.nombre %></dd>
				<dt><%= t('activerecord.attributes.alumno.tipoDocumento')%></dt><dd><%= @alumno.tipoDocumento %></dd>
				<dt><%= t('activerecord.attributes.alumno.documento')%></dt><dd><%= @alumno.documento %></dd>
				<dt><%= t('activerecord.attributes.alumno.email')%></dt><dd><%= @alumno.email %></dd>
				<dt><%= t('activerecord.attributes.alumno.activo')%></dt><dd><%= "Sí" %></dd>
				<dt><%= t('activerecord.attributes.alumno.created_at')%></dt><dd><%= time_tag @alumno.created_at %></dd>
				
			</dl>			
        </div>
        <div class="tab-pane" id="clases">
            <h1>Orange</h1>
            <p>orange orange orange orange orange</p>
        </div>
        <div class="tab-pane" id="pagos">
            <h1>Yellow</h1>
            <p>yellow yellow yellow yellow yellow</p>
        </div>
        
    </div>
</div>

